DiabetesWS.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. -->
<definitions targetNamespace="http://servico.diabetes.com/" name="DiabetesWS" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:tns="http://servico.diabetes.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://servico.diabetes.com/" schemaLocation="DiabetesWS_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addRegistro">
    <part name="parameters" element="tns:addRegistro"/>
  </message>
  <message name="addRegistroResponse">
    <part name="parameters" element="tns:addRegistroResponse"/>
  </message>
  <message name="addPacientedoMedico">
    <part name="parameters" element="tns:addPacientedoMedico"/>
  </message>
  <message name="addPacientedoMedicoResponse">
    <part name="parameters" element="tns:addPacientedoMedicoResponse"/>
  </message>
  <message name="addPaciente">
    <part name="parameters" element="tns:addPaciente"/>
  </message>
  <message name="addPacienteResponse">
    <part name="parameters" element="tns:addPacienteResponse"/>
  </message>
  <message name="addNotaRegistro">
    <part name="parameters" element="tns:addNotaRegistro"/>
  </message>
  <message name="addNotaRegistroResponse">
    <part name="parameters" element="tns:addNotaRegistroResponse"/>
  </message>
  <message name="addMedico">
    <part name="parameters" element="tns:addMedico"/>
  </message>
  <message name="addMedicoResponse">
    <part name="parameters" element="tns:addMedicoResponse"/>
  </message>
  <portType name="DiabetesWS">
    <operation name="addRegistro">
      <input wsam:Action="http://servico.diabetes.com/DiabetesWS/addRegistroRequest" message="tns:addRegistro"/>
      <output wsam:Action="http://servico.diabetes.com/DiabetesWS/addRegistroResponse" message="tns:addRegistroResponse"/>
    </operation>
    <operation name="addPacientedoMedico">
      <input wsam:Action="http://servico.diabetes.com/DiabetesWS/addPacientedoMedicoRequest" message="tns:addPacientedoMedico"/>
      <output wsam:Action="http://servico.diabetes.com/DiabetesWS/addPacientedoMedicoResponse" message="tns:addPacientedoMedicoResponse"/>
    </operation>
    <operation name="addPaciente">
      <input wsam:Action="http://servico.diabetes.com/DiabetesWS/addPacienteRequest" message="tns:addPaciente"/>
      <output wsam:Action="http://servico.diabetes.com/DiabetesWS/addPacienteResponse" message="tns:addPacienteResponse"/>
    </operation>
    <operation name="addNotaRegistro">
      <input wsam:Action="http://servico.diabetes.com/DiabetesWS/addNotaRegistroRequest" message="tns:addNotaRegistro"/>
      <output wsam:Action="http://servico.diabetes.com/DiabetesWS/addNotaRegistroResponse" message="tns:addNotaRegistroResponse"/>
    </operation>
    <operation name="addMedico">
      <input wsam:Action="http://servico.diabetes.com/DiabetesWS/addMedicoRequest" message="tns:addMedico"/>
      <output wsam:Action="http://servico.diabetes.com/DiabetesWS/addMedicoResponse" message="tns:addMedicoResponse"/>
    </operation>
  </portType>
  <binding name="DiabetesWSPortBinding" type="tns:DiabetesWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="addRegistro">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addPacientedoMedico">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addPaciente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addNotaRegistro">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addMedico">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="DiabetesWS">
    <port name="DiabetesWSPort" binding="tns:DiabetesWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

